.jumbotron img{
    width : 200px;
  
}


#about{
    margin-bottom: 3cm;
}

#portflio{
    margin-top: 2cm;
}

#contact{
    margin-top: 2cm;
}

#footer{
    margin-top: 1cm;
}
.footer{
    text-align: center;
    color: aliceblue;
    background-color: black;
}